.services__block{
    background-color: #012f5e;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 50px;
}
.card{
    width:90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 20px;
}
.service_card_title{
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
INPUT[type=checkbox]:focus
{
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox]
{
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
}
.jaa{
    font-size: 13px;
    color: rgb(82, 79, 79);
    font-weight: 300;
    font-size: 18px;
    text-shadow: 0 0 4px #fff;
    color: #fff;
}


INPUT[type=checkbox]:checked
{
    background-color: #409fd6;
    background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
    margin-right: 15px;
    margin-left: 10px;
}
.Card_item{
    width: 30%;
    margin-right: 10px;
    margin-top: 50px;
    cursor: pointer;
    background-color: rgb(107 103 144 / 34%);
    padding-bottom: 20px;
    border-radius: 20px;
}

.ant-collapse{
    background-color: rgb(107 103 144 / 34%) !important;
    border: none !important;
    color: white !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    color: white !important;
}
.ant-collapse-content > .ant-collapse-content-box{
    background-color: rgb(107 103 144 / 34%) !important;
}

.image_card{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    
}
.card_para{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
    color: rgb(82, 79, 79);

    font-weight: 300;
    font-size: 13px;
    text-shadow: 0 0 4px #fff;
    padding-left: 10px;
    color: #fff;
}
.cardbtn{
    background-color: #ac3122 !important;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 40px;
    align-items: center;
}
@media screen and (max-width: 960px) {
    .Card_item{
        width: 60%;
        margin-right: 0px;
        margin-top: 50px;
        cursor: pointer;
        background-color: rgba(43,40,76,.34);
        padding-bottom: 20px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 750px) {
    .Card_item{
        width: 100%;
        margin-right: 0px;
        margin-top: 50px;
        cursor: pointer;
        background-color: rgba(43,40,76,.34);
        padding-bottom: 20px;
        border-radius: 20px;
    }
}