.home__banner{
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 80vh;
}
.imagess{
    margin: auto;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.mind{
    position: absolute;
    top: 30%;
    left: 0%;
    color: white;
    font-size:55px;
    padding-left: 20px;
    width: 40%;
}

.btnbanner{
    position: absolute;
    top: 75%;
    left: 10%;
    background-color: #ac3122 !important;
    color: white;
    font-weight: bold;
    outline: none;
    height: 40px;
    border-radius: 10px;
    width: 230px;

}

@media screen and (max-width: 960px) {
    .mind{
        position: absolute;
        top: 30%;
        left: 0%;
        color: white;
        font-size:30px;
        padding-left: 20px;
        width: 50%;
    }
    .btnbanner{
        position: absolute;
        top: 50%;
        left: 10%;
        background-color: #ac3122 !important;
        color: white;
        font-weight: bold;
        outline: none;
        height: 40px;
        border-radius: 10px;
        width: 230px;
    
    }
    .home__banner{
        width: 100%;
        margin: auto;
        overflow: hidden;
        height: 50vh;
    }
    
}

@media screen and (max-width: 600px) {
    .mind{
        position: absolute;
        top: 40%;
        left: 0%;
        color: white;
        font-size:25px;
        padding-left: 20px;
        width: 80%;
    }
    .btnbanner{
        position: absolute;
        top: 60%;
        left: 10%;
        background-color: #ac3122 !important;
        color: white;
        font-weight: bold;
        outline: none;
        height: 40px;
        border-radius: 10px;
        width: 230px;
    
    }
    .home__banner{
        width: 100%;
        margin: auto;
        overflow: hidden;
        height: 50vh;
    }
    
}