.home__banner{
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 80vh;
}
.imagess{
    margin: auto;
    text-align: center;
    /* -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain; */
    height: 900px;
    width: 1700px;
}
.mind{
    position: absolute;
    top: 30%;
    left: 0%;
    color: white;
    font-size:55px;
    padding-left: 20px;
    width: 40%;
    line-height: 60px;
    font-weight: bold;
}
.boxsss{
    position: absolute;
    width: 30%;
    height: 300px;
    top: 200px;
    left: 50px;
    opacity: 0.9;
    border-radius: 10px;
}

.btnbanner{
    position: absolute;
    top:90%;
    left: 20%;
    background-color: #ac3122 !important;
    color: white;
    font-weight: bold;
    outline: none;
    height: 40px;
    border-radius: 10px;
    width: 230px;

}

@media screen and (min-width: 1550px) {
    .boxsss{
        position: absolute;
        width: 30%;
        height: 300px;
        top: 200px;
        left: 50px;
        opacity: 0.9;
        border-radius: 10px;
    }
    
    .btnbanner{
        position: absolute;
        top: 120%;
        left: 20%;
        background-color: #ac3122 !important;
        color: white;
        font-weight: bold;
        outline: none;
        height: 40px;
        border-radius: 10px;
        width: 230px;
    
    }
}

@media screen and (max-width: 960px) {
    .mind{
        position: absolute;
        top: 30%;
        left: 0%;
        color: white;
        font-size:30px;
        padding-left: 20px;
        width: 50%;
    }
    .boxsss{
        position: absolute;
        width: 30%;
        height: 500px;
        top: 300px;
        left: 50px;
        opacity: 0.9;
        border-radius: 10px;
    }
    
    .btnbanner{
        position: absolute;
        top: 40%;
        left: 10%;
        background-color: #ac3122 !important;
        color: white;
        font-weight: bold;
        outline: none;
        height: 40px;
        border-radius: 10px;
        width: 230px;
    
    }
    .home__banner{
        width: 100%;
        margin: auto;
        overflow: hidden;
        height: 50vh;
    }
    
    
}

@media screen and (max-width: 600px) {
    .mind{
        position: absolute;
        top: 20%;
        left: 0%;
        color: white;
        font-size:25px;
        padding-left: 20px;
        width: 80%;
    }
    .boxsss{
        position: absolute;
        width: 50%;
        height: 500px;
        top: 250px;
        left: 10px;
        opacity: 0.9;
        border-radius: 10px;
    }
    .btnbanner{
        position: absolute;
        top: 40%;
        left: 10%;
        background-color: #ac3122 !important;
        color: white;
        font-weight: bold;
        outline: none;
        height: 40px;
        border-radius: 10px;
        width: 230px;
    
    }
    .home__banner{
        width: 100%;
        margin: auto;
        overflow: hidden;
        height: 50vh;
    }
    
}