.welcome_banner{
    width: 100%;
    margin: auto;
    background-color: #012f5e;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title_banner{
    color: white;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
}
.Welcomebanner_FLex{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}
.welcome_image{
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    background-size: cover;
}
.welcome_flex1{
    width: 30%;
}
.welcome_flex2{
    width: 60%;
}
.block__description{
    padding-left: 20px;
    line-height: 25px;
    font-size: 17px;
    color: white;
}
.welcome_button{
    background-color: #ac3122 !important;
    height: 40px !important;
    color: white;
    font-weight: bold;
    outline: none;
    height: 40px;
    border-radius: 10px;
    width: 150px;
}
.btnalign{
    width: 50%;
    margin: auto;
    
}