.banners_container{
    width: 100%;
    background-color: #ac3122;
}
.banners_block{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.ha{
    background-size: cover;
    height: 300px;
}
.heading_banner{
    font-weight: 300;
    font-size: 35px;
    text-shadow: 0 0 4px #fff;
    color: #fff;
}
.para_bannee{
    font-weight: 300;
    font-size: 18px;
    text-shadow: 0 0 4px #fff;
    color: #fff;
}
.btnnanner{
    width: 200px;
    height: 50px;
    background: #012f5e;
    color: white;
    outline: none;
}
@media screen and (max-width: 960px) {
    .banners_block{
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

    }
    .banners_container{
        width: 100%;
        background-color: #ac3122;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .heading_banner{
        font-weight: 300;
        font-size: 35px;
        text-shadow: 0 0 4px #fff;
        color: #fff;
        margin: 0;
    }
    
}
@media screen and (max-width: 600px) {
    .banners_block{
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

    }
    .banners_container{
        width: 100%;
        background-color: #ac3122;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .heading_banner{
        font-weight: 300;
        font-size: 25px;
        text-shadow: 0 0 4px #fff;
        color: #fff;
        margin: 0;
    }
    
}