.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    margin: auto;
    background-color: #012f5e;
    border-bottom: 2px solid white;
  }
  .Logo_image{
    max-width: 30%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60px;
    max-width: 1500px;
  }
  
  .nav-logo {
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    cursor: pointer;
    margin: 0px;
  }
  a:-webkit-any-link {
      text-decoration: none !important;
  }
  .nav-links {
    font-family: Rza;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: white;
    padding: 0.5rem 1rem;
    height: 100%;
    
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    list-style-type: none;
    text-decoration: none;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: white;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  .signupbtn{
    padding: 10px 30px 10px;
    border: 1px solid #003545;
    box-sizing: border-box;
    border-radius: 30px;
    color: #003545;
    background: transparent;
    outline: none;
  }
  .mob_view{
    display: inline-block;
  }
  .gemini{
    width: 100%;
    background-color: white;
  }
  .gemini_flex{
    width:100%;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .Logo_imasge{
    width: 40%;
}
  .schedules{
    background-color: #ac3122 !important;
    height: 40px !important;
    border-radius: 10px !important;
    outline: none;
    color: white;
  }
  .daa{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .paraser{
    font-size: 17px;
  }
  .Logo_image{
    width: 100%;
  }
  
  .number{
    color: #ac3122;
    padding-left: 30px;
    font-size: 28px;
    font-weight: bold;
  }
  .number:hover{
    color: red;
  }
  @media screen and (max-width: 960px) {
    .navbar {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      position: sticky;
      top: 0;
      z-index: 20;
      width: 100%;
      margin: auto;
      background-color: #012f5e;
    }
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      height: auto;
      max-width: 1500px;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border:none;
      position: absolute;
      top: 40px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      scroll-behavior: smooth;
    }
    .nav-menu.active {
      background-color: #012f5e;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      width: 90%;
      scroll-behavior: smooth;
    }
    .nav-item .active {
      scroll-behavior: smooth;
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
      color: white;
      scroll-behavior: smooth;
    }
  
    .nav-icon {
      display: flex;
      align-items: center;
    }
    .nav-logo {
      margin-left: 0px;
      display: flex;
    justify-content: center;
    }
    .Hamberger{
      margin-right: 10px;
    }
    
    .mob_view{
      display: none;
    }
    .Hamberger_item{
      width: 30px;
    }

    .gemini_flex{
      width:100%;
      margin: auto;
      display: block;
      align-items: center;
    }
    .Logo_imasge{
      width: 40%;
      display: none;
  }
    .schedules{
      background-color: #ac3122 !important;
      height: 40px !important;
      border-radius: 10px !important;
      outline: none;
      color: white;
    }
    .daa{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: auto;
      justify-content: center;
    }
    .paraser{
      font-size: 17px;
      text-align: center;
    }

    .Logo_image{
      width: 100%;
    }
    
    .number{
      color: #ac3122;
      padding-left: 0px;
      font-size: 28px;
      font-weight: bold;
    }
    .number:hover{
      color: red;
    }
  }